In [23]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error,accuracy_score
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import LabelEncoder
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor

### Data Collection and Preprocessing

In [11]:
#loading the csv data into a Panda DataFrame
df=pd.read_csv('CarPrice_Assignment.csv')

In [12]:
#print first 5 rows of dataset
df.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [13]:
#print last 5 rows of dataset
df.tail()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
200,201,-1,volvo 145e (sw),gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845.0
201,202,-1,volvo 144ea,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045.0
202,203,-1,volvo 244dl,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485.0
203,204,-1,volvo 246,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470.0
204,205,-1,volvo 264gl,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625.0

In [18]:
#number of rows and columns in dataset
df.shape

(205, 26)

In [19]:
#Getting information about data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            205 non-null    int64
 1   symboling         205 non-null    int64
 2   CarName           205 non-null    object
 3   fueltype          205 non-null    object
 4   aspiration        205 non-null    object
 5   doornumber        205 non-null    object
 6   carbody           205 non-null    object
 7   drivewheel        205 non-null    object
 8   enginelocation    205 non-null    object
 9   wheelbase         205 non-null    float64
 10  carlength         205 non-null    float64
 11  carwidth          205 non-null    float64
 12  carheight         205 non-null    float64
 13  curbweight        205 non-null    int64
 14  enginetype        205 non-null    object
 15  cylindernumber    205 non-null    object
 16  enginesize        205 non-null    int64
 17  fuelsystem        205 non-null    object
 18  boreratio         205 non-null    float64
 19  stroke            205 non-null    float64
 20  compressionratio  205 non-null    float64
 21  horsepower        205 non-null    int64
 22  peakrpm           205 non-null    int64
 23  citympg           205 non-null    int64
 24  highwaympg        205 non-null    int64
 25  price             205 non-null    float64
dtypes: float64(8), int64(8), object(10)
memory usage: 41.8+ KB

### Splitting the Features and Target

In [39]:
X=df.drop("price",axis=1)
Y=df["price"]

In [40]:
print(X)

     car_ID  symboling                   CarName fueltype aspiration  \
0         1          3        alfa-romero giulia      gas        std
1         2          3       alfa-romero stelvio      gas        std
2         3          1  alfa-romero Quadrifoglio      gas        std
3         4          2               audi 100 ls      gas        std
4         5          2                audi 100ls      gas        std
..      ...        ...                       ...      ...        ...
200     201         -1           volvo 145e (sw)      gas        std
201     202         -1               volvo 144ea      gas      turbo
202     203         -1               volvo 244dl      gas        std
203     204         -1                 volvo 246   diesel      turbo
204     205         -1               volvo 264gl      gas      turbo

    doornumber      carbody drivewheel enginelocation  wheelbase  ...  \
0          two  convertible        rwd          front       88.6  ...
1          two  convertible        rwd          front       88.6  ...
2          two    hatchback        rwd          front       94.5  ...
3         four        sedan        fwd          front       99.8  ...
4         four        sedan        4wd          front       99.4  ...
..         ...          ...        ...            ...        ...  ...
200       four        sedan        rwd          front      109.1  ...
201       four        sedan        rwd          front      109.1  ...
202       four        sedan        rwd          front      109.1  ...
203       four        sedan        rwd          front      109.1  ...
204       four        sedan        rwd          front      109.1  ...

     cylindernumber  enginesize  fuelsystem  boreratio stroke  \
0              four         130        mpfi       3.47   2.68
1              four         130        mpfi       3.47   2.68
2               six         152        mpfi       2.68   3.47
3              four         109        mpfi       3.19   3.40
4              five         136        mpfi       3.19   3.40
..              ...         ...         ...        ...    ...
200            four         141        mpfi       3.78   3.15
201            four         141        mpfi       3.78   3.15
202             six         173        mpfi       3.58   2.87
203             six         145         idi       3.01   3.40
204            four         141        mpfi       3.78   3.15

    compressionratio  horsepower peakrpm  citympg  highwaympg
0                9.0         111    5000       21          27
1                9.0         111    5000       21          27
2                9.0         154    5000       19          26
3               10.0         102    5500       24          30
4                8.0         115    5500       18          22
..               ...         ...     ...      ...         ...
200              9.5         114    5400       23          28
201              8.7         160    5300       19          25
202              8.8         134    5500       18          23
203             23.0         106    4800       26          27
204              9.5         114    5400       19          25

[205 rows x 25 columns]

In [41]:
print(Y)

0      13495.0
1      16500.0
2      16500.0
3      13950.0
4      17450.0
        ...
200    16845.0
201    19045.0
202    21485.0
203    22470.0
204    22625.0
Name: price, Length: 205, dtype: float64

### Encoding the given data

In [24]:

label_encoder=LabelEncoder() 
for col in X.columns:
    if X[col].dtype=='object':
        X[col]=label_encoder.fit_transform(X[col])

In [25]:
X.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,cylindernumber,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg
0,1,3,2,1,0,1,0,2,0,88.6,...,2,130,5,3.47,2.68,9.0,111,5000,21,27
1,2,3,3,1,0,1,0,2,0,88.6,...,2,130,5,3.47,2.68,9.0,111,5000,21,27
2,3,1,1,1,0,1,2,2,0,94.5,...,3,152,5,2.68,3.47,9.0,154,5000,19,26
3,4,2,4,1,0,0,3,1,0,99.8,...,2,109,5,3.19,3.40,10.0,102,5500,24,30
4,5,2,5,1,0,0,3,0,0,99.4,...,1,136,5,3.19,3.40,8.0,115,5500,18,22

### Splitting the data into traing and test data

In [26]:
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=0.20,random_state=42)

### Linear Regression

In [27]:
lr_model=LinearRegression()
lr_model.fit(x_train,y_train)
y_pred=lr_model.predict(x_test)

In [28]:
#lr_model evaluation
mse=mean_squared_error(y_test,y_pred)
rmse=np.sqrt(mse)
rmse

3508.008167455509

### Decision Tree

In [29]:
dt_model= DecisionTreeRegressor(max_depth=None)
dt_model.fit(x_train,y_train)
dt_pred=dt_model.predict(x_test)

In [30]:
#dt_model evaluation
dt_mse=mean_squared_error(y_test,dt_pred)  
dt_rmse=np.sqrt(dt_mse)  
dt_rmse

3014.549525874225

### Random Forest

In [31]:
rf_model=RandomForestRegressor(max_depth=None)
rf_model.fit(x_train,y_train)
rf_pred=rf_model.predict(x_test)

In [32]:
#rf_model evaluation
rf_mse=mean_squared_error(y_test,rf_pred)
rf_rmse=np.sqrt(rf_mse)
rf_rmse

1840.4403365700284

In [43]:
model_ev = pd.DataFrame({'Model': ['Linear Regression','Random Forest',
                    'Decision Tree'], 'Accuracy': [rmse,
                    rf_rmse,dt_rmse]})
model_ev

               Model     Accuracy
0  Linear Regression  3508.008167
1      Random Forest  1840.440337
2      Decision Tree  3014.549526